body{
    margin: 0;
    line-height: 1.5;
    color: #212529;
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#mainfooter{
background-color: rgb(241, 166, 4);
height: 272px;;
}

footer{
    background-color:  red;
    text-align: center;
    color: aliceblue;
  }
  footer > a{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  footer > a:hover{
    color: white;
    font-size: 25px;
  }

  #footerlinks{
    text-align: left; 
  }
  #footerlinks a {
    color: #fff;
  }
  #footerlinks a:hover{
    color: red;
  }